header{
    background-color: #ffffff;
    padding: 10px;
}
body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Itim', cursive;
}
body,html{
    margin: 0;
    background: #ffffff;
    scroll-behavior: smooth;
}

.container{
    width: 1000px;
    margin: 0 auto;
}
.menubar{
    margin-top: 0 auto;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 3px 3px 1px #f20000 ;
}
.menubar .logo{
    float: left;
    color: #f20000;
}
.menubar .menu{
    padding: 0;
    margin: 10px;
}
.menubar h1{
    margin: 0;
    padding-top: 20;

}
.menubar ul.menu{
list-style: none;
float: right;
color: #D2B48C;
}

.menubar ul.menu li{
    font-size: 30px;
    float: left;
    margin-right:  25px;
}

.menubar ul.menu li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid transparent;
    padding-bottom: 20px;
    transition: all 0.2s ease;

}
.menubar ul.menu li a:hover{
    border-bottom: 4px solid #f20000;
    padding-bottom: 0px;
}
.slider-container {
    margin: 30px auto;
    position: relative;
    text-align: center;
    display: flex;
    overflow: hidden;
    max-width: 25%;
}
  
.slide {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
.slide img {
    
    width: 300px;
    height: 400px;
    border-radius: 2rem 2rem 2rem 2rem;
}  
  

 @keyframes slideAnimation {
    0% { transform: translateX(0%); }
    20% { transform: translateX(0%); }
    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    95% { transform: translateX(-300%); }
    100% { transform: translateX(-400%); }
}
  
.slide {
    animation: slideAnimation 20s infinite;
}
.header{
    width: 100%;
    color: #000000;
}

.headerarea h1{
    margin-top: 60px;
    color: #000000;
}
.abouts{
   font-size: 25px;
   text-align: center ;
   color: rgb(0, 0, 0);
}

.container{
    text-align: center;
    margin-top: 0 auto;
    padding: 0;
}
.info1{
    font-size: 35px;
}
.info1text{
    color: rgb(255, 0, 0);
    margin-top: 110px;
    animation: blink 4s infinite alternate;
    text-shadow: 0 0 0 transparent,
    0 0 40px #fdbb51;
}
.t{
    font-size: 25px;
}
.info2{
    margin-top: 50px;
}

.info2area{
    margin: 40px;
}

.text2s{
    font-size: 30px;
}
.text2 p{
    font-size: 25px;
}
h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.button{
    justify-content: center;
    display: flex;
    margin-top: 40px;
}
.bt1{
    width: 0;
    height: 56px;
    border-radius: 25px ;
    border: none;
    background-color: #0d13c1;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
.bt1:hover{
    width: 190px;
    transition: 0.5s;
}
.bt2{
    width: 0;
    height: 56px;
    border-radius: 25px ;
    border: none;
    background-color: #11ff00;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
.bt2:hover{
    width: 190px;
    transition: 0.5s;
}
.bt3{
    width: 0;
    height: 56px;
    border-radius: 25px ;
    border: none;
    background-color: #b622a2;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
.bt3:hover{
    width: 190px;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-size: 25px;
    color: rgb(152, 151, 151);
    margin: 0 auto;
    font-weight: bold;
}
#topic{
    color: #000000;
    animation: blink 4s infinite alternate;
    text-shadow: 0 0 0 transparent,
    0 0 10px #c05c5c, 0 0 10px #ff0000	 ;
}
.im{
    position: relative;
    margin-top: 10%;
    justify-content: center;
    display: flex;
}
.tt{
    font-size: 25px;
    text-align: center;
}
footer{
    background: #eb6f6f;
    padding: 5px;
    text-align: center;
}

.program{
    margin-top: 30px;
    margin-left: 40px;
    font-size: 25px;
}
.program a{
    text-decoration: none;
    color: #0d13c1;
}
.program a:hover{
    color: #f20000;
}
.atriclecredit{
    margin-top: 30px;
    margin-left: 40px;
    font-size: 25px;
}
.atriclecredit a{
    text-decoration: none;
    color: #0d13c1;
}
.atriclecredit a:hover{
    color: #f20000;
}
.iconcredit{
    margin-top: 30px;
    margin-left: 40px;
    font-size: 25px;
}
.iconcredit a{
    text-decoration: none;
    color: #0d13c1;
}
.iconcredit a:hover{
    color: #f20000;
}
.language{
    margin-top: 30px;
    margin-left: 40px;
    font-size: 25px;
}
.gotop{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #f20000;
    bottom: 40px;
    right: 50px;
    border-radius: 25px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    
}
.vd{
    border-radius: 20px; 
    overflow: hidden;
}